.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #002349;
    border-bottom: 1px solid #b3b0b0;
    padding: 10px 25px;
    color: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.header-left, .header-right {
    flex: 1;
}

.header-center {
    display: flex;
    justify-content: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 80px;
    width: 300px;
    border-radius: 18px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 2px 2px #957C3D;
}

.header-icon {
    font-size: 30px;
    color: #fcf9f9;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-icon:hover {
    color: #DAA520;
}