.container-superior-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00008B;

    .form-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    gap: 15px; 
    width: 600px;
    box-shadow: 0 80px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    }

    .form-section h1 {
        margin-bottom: 5px;
        color: #333;
    }

    .form-section p {
        margin-top: 0;
        color: #666;
    }

    .f-fundo{
        background-color: #E0FFFF;
    }

    .form-section h1 {
        margin-bottom: 5px;
        color: #333;
    }

    .form-section p {
        margin-top: 0;
        color: #666;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    .input-group label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    .p-inputtext, .p-password {
        width: 100%;
    }

    .separator {
        text-align: center;
        margin: 10px 0;
    }

    .f-fundo{
        background-color: #E0FFFF;
    }

    .b-cadastrar {
        background-color: #D2691E; 
        border-color: #D2691E;  
        color: #ffffff; 
        width: 350px;
        align-self: center;     
    }

    .b-cadastrar:hover {
        background-color: #b85d1a; 
        border-color: #b85d1a;
    }

    .b-retornar {
        background-color: #DAA520;
        border-color: #DAA520;    
        color: #ffffff;   
        width: 350px;
        align-self: center;        
    }


    .b-retornar:hover {
        background-color: #B8860B; 
        border-color: #B8860B;
    }
}