.home-container {
    width: 100%;
    min-height: 100vh;
    background-color: #002349;
    padding: 20px 0;
    box-sizing: border-box;
}
.secao-principal {
    width: 100%;
    max-width: 950px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container para definir o tamanho e posição do carrossel */
.carrossel-container {
    width: 90%; 
    max-width: 1080px; 
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 8px 20px #957C3D;
}

/* Janela de visualização */
.carrossel {
    cursor: grab;
    overflow: hidden; 
    border-radius: 15px;
    background-color: #ffffff;
}

/* O trilho que contém as imagens e que se move */
.inner {
    display: flex; 
    background-color: #ffffff;
}

/*  Cada item do carrossel */
.item {
    min-width: 100%; 
    height: 450px; 
    padding: 10px;
    box-sizing: border-box; 
}

/* Estilização da imagem dentro do item */
.item img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none; 
    object-fit: cover;
}

.detalhes-leilao-futuro {
    width: 100%;
    max-width: 850px;
    background-color: #ffffff;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px #957C3D;
}

.b-cadastrar-leiloes, .b-listar-leiloes {
    width: 250px;
    color: #ffffff;
    border: none;
    margin: 0 15px;
}

.b-cadastrar-leiloes {
    background-color: #D2691E;
    justify-content: center; 
}

.b-cadastrar-leiloes:hover {
    background-color: #b85d1a; 
    justify-content: center;

}

.b-listar-leiloes {
    background-color: #DAA520;
    justify-content: center;
}


.b-listar-leiloes:hover {
    background-color: #B8860B;
    justify-content: center;
}


